# Harvard Dataverse 
## County Presidential Election Returns 2000-2016

In [1]:
import pandas as pd
import os
os.getcwd()

'/home/jdreed'

In [7]:
df = pd.read_csv('MSDS696/data/dataverse/countypres_2000-2016.csv')
#df["FIPS"] = df["FIPS"].astype("int")
#df["candidatevotes"] = df["candidates"].astype("int")
df.head(3)

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203

In [49]:
df.isnull().sum(axis = 0)

year              0
state             0
state_po          0
county            0
FIPS              0
office            0
candidate         0
party             0
candidatevotes    0
totalvotes        0
version           0
dtype: int64

In [23]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
print(row_has_NaN)
df_nans = df[row_has_NaN]
df_nans.head()

0        False
1        False
2        False
3         True
4        False
         ...
50519    False
50520     True
50521     True
50522     True
50523     True
Length: 50524, dtype: bool

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
7,2000,Alabama,AL,Baldwin,1003.0,President,Other,NaN,578.0,56480,20191203
11,2000,Alabama,AL,Barbour,1005.0,President,Other,NaN,65.0,10395,20191203
15,2000,Alabama,AL,Bibb,1007.0,President,Other,NaN,66.0,7101,20191203
19,2000,Alabama,AL,Blount,1009.0,President,Other,NaN,175.0,17973,20191203

In [35]:
mask = df['candidate'] == 'Other'
df.loc[mask, 'party'] = 'Other'
df[mask].head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
3,2000,Alabama,AL,Autauga,1001.0,President,Other,Other,113.0,17208,20191203
7,2000,Alabama,AL,Baldwin,1003.0,President,Other,Other,578.0,56480,20191203
11,2000,Alabama,AL,Barbour,1005.0,President,Other,Other,65.0,10395,20191203
15,2000,Alabama,AL,Bibb,1007.0,President,Other,Other,66.0,7101,20191203
19,2000,Alabama,AL,Blount,1009.0,President,Other,Other,175.0,17973,20191203

In [38]:
mask = df['candidatevotes'].isnull()
df.loc[mask, 'candidatevotes'] = 0

In [39]:
df[mask]

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
1442,2000,Georgia,GA,Baker,13007.0,President,Ralph Nader,green,0.0,1519,20191203
1462,2000,Georgia,GA,Ben Hill,13017.0,President,Ralph Nader,green,0.0,4661,20191203
1466,2000,Georgia,GA,Berrien,13019.0,President,Ralph Nader,green,0.0,4410,20191203
1486,2000,Georgia,GA,Bryan,13029.0,President,Ralph Nader,green,0.0,7059,20191203
1502,2000,Georgia,GA,Calhoun,13037.0,President,Ralph Nader,green,0.0,1887,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50276,2008,Alaska,NaN,District 99,2099.0,President,John McCain,republican,0.0,0,20191203
50277,2008,Alaska,NaN,District 99,2099.0,President,Other,Other,0.0,0,20191203
50398,2012,Alaska,NaN,District 99,2099.0,President,Barack Obama,democrat,0.0,74045,20191203
50399,2012,Alaska,NaN,District 99,2099.0,President,Mitt Romney,republican,0.0,74045,20191203
50400,2012,Alaska,NaN,District 99,2099.0,President,Other,Other,0.0,74045,20191203

In [40]:
df.isnull().sum(axis = 0)

year               0
state              0
state_po          64
county             0
FIPS              48
office             0
candidate          0
party              0
candidatevotes     0
totalvotes         0
version            0
dtype: int64

In [44]:
mask = df['state_po'].isnull()
df.loc[mask, 'state_po'] = 'Unknown'
df.loc[mask, 'FIPS'] = -1
df[mask]

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
12452,2000,Connecticut,Unknown,Statewide writein,-1.0,President,Al Gore,democrat,0.0,0,20191203
12453,2000,Maine,Unknown,Maine UOCAVA,-1.0,President,Al Gore,democrat,0.0,0,20191203
12454,2000,Rhode Island,Unknown,Federal Precinct,-1.0,President,Al Gore,democrat,0.0,0,20191203
12455,2000,Connecticut,Unknown,Statewide writein,-1.0,President,George W. Bush,republican,0.0,0,20191203
12456,2000,Maine,Unknown,Maine UOCAVA,-1.0,President,George W. Bush,republican,0.0,0,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50399,2012,Alaska,Unknown,District 99,-1.0,President,Mitt Romney,republican,0.0,74045,20191203
50400,2012,Alaska,Unknown,District 99,-1.0,President,Other,Other,0.0,74045,20191203
50521,2016,Alaska,Unknown,District 99,-1.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,Unknown,District 99,-1.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,Unknown,District 99,-1.0,President,Other,Other,28.0,5056,20191203

In [55]:
df['FIPS'] = df['FIPS'].astype("int")
df['candidatevotes'] = df['candidatevotes'].astype("int")
df['totalvotes'] = df['totalvotes'].astype("int")
print(f'DF has the following data types:\n{df.dtypes}, \n\nand the corresponding NULL values: {df.isnull().sum(axis = 0)}')

DF has the following data types:
year               int64
state             object
state_po          object
county            object
FIPS               int64
office            object
candidate         object
party             object
candidatevotes     int64
totalvotes         int64
version            int64
dtype: object,

and the corresponding NULL values: year              0
state             0
state_po          0
county            0
FIPS              0
office            0
candidate         0
party             0
candidatevotes    0
totalvotes        0
version           0
dtype: int64

In [77]:
mask = (df['party'] == 'Other') | (df['candidate'] == 'Other')
print(f'DF records BEFORE drop: {df.shape}')
df.drop(df[mask].index, inplace = True)
print(f'DF records AFTER drop: {df.shape}')

DF records BEFORE drop: (50524, 11)
DF records AFTER drop: (34735, 11)

In [78]:
counties = df.groupby(["state", "county"])
counties.size()

state    county
Alabama  Autauga       11
         Baldwin       11
         Barbour       11
         Bibb          11
         Blount        11
                       ..
Wyoming  Sweetwater    11
         Teton         11
         Uinta         11
         Washakie      11
         Weston        11
Length: 3153, dtype: int64

In [80]:
counties.last()

                    year state_po   FIPS     office     candidate       party  \
state   county
Alabama Autauga     2016       AL   1001  President  Donald Trump  republican
        Baldwin     2016       AL   1003  President  Donald Trump  republican
        Barbour     2016       AL   1005  President  Donald Trump  republican
        Bibb        2016       AL   1007  President  Donald Trump  republican
        Blount      2016       AL   1009  President  Donald Trump  republican
...                  ...      ...    ...        ...           ...         ...
Wyoming Sweetwater  2016       WY  56037  President  Donald Trump  republican
        Teton       2016       WY  56039  President  Donald Trump  republican
        Uinta       2016       WY  56041  President  Donald Trump  republican
        Washakie    2016       WY  56043  President  Donald Trump  republican
        Weston      2016       WY  56045  President  Donald Trump  republican

                    candidatevotes  totalvotes   version
state   county
Alabama Autauga              18172       24973  20191203
        Baldwin              72883       95215  20191203
        Barbour               5454       10469  20191203
        Bibb                  6738        8819  20191203
        Blount               22859       25588  20191203
...                            ...         ...       ...
Wyoming Sweetwater           12154       17130  20191203
        Teton                 3921       12627  20191203
        Uinta                 6154        8470  20191203
        Washakie              2911        3814  20191203
        Weston                3033        3526  20191203

[3153 rows x 9 columns]