# Harvard Dataverse 
## County Presidential Election Returns 2000-2016

In [4]:
import pandas as pd
import os

from pathlib import Path
import censusFunctions as cf
os.getcwd()

'/home/jdreed/MSDS696/notebooks'

In [5]:
df = pd.read_csv('/home/jdreed/MSDS696/data/dataverse/countypres_2000-2016.csv')
#df["FIPS"] = df["FIPS"].astype("int")
#df["candidatevotes"] = df["candidates"].astype("int")
df.head(3)

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203

In [6]:
df.isnull().sum(axis = 0)

year                  0
state                 0
state_po             64
county                0
FIPS                 48
office                0
candidate             0
party             15789
candidatevotes      404
totalvotes            0
version               0
dtype: int64

In [7]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
print(row_has_NaN)
df_nans = df[row_has_NaN]
df_nans.head()

0        False
1        False
2        False
3         True
4        False
         ...
50519    False
50520     True
50521     True
50522     True
50523     True
Length: 50524, dtype: bool

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
7,2000,Alabama,AL,Baldwin,1003.0,President,Other,NaN,578.0,56480,20191203
11,2000,Alabama,AL,Barbour,1005.0,President,Other,NaN,65.0,10395,20191203
15,2000,Alabama,AL,Bibb,1007.0,President,Other,NaN,66.0,7101,20191203
19,2000,Alabama,AL,Blount,1009.0,President,Other,NaN,175.0,17973,20191203

In [8]:
mask = df['candidate'] == 'Other'
df.loc[mask, 'party'] = 'Other'
df[mask].head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
3,2000,Alabama,AL,Autauga,1001.0,President,Other,Other,113.0,17208,20191203
7,2000,Alabama,AL,Baldwin,1003.0,President,Other,Other,578.0,56480,20191203
11,2000,Alabama,AL,Barbour,1005.0,President,Other,Other,65.0,10395,20191203
15,2000,Alabama,AL,Bibb,1007.0,President,Other,Other,66.0,7101,20191203
19,2000,Alabama,AL,Blount,1009.0,President,Other,Other,175.0,17973,20191203

In [9]:
mask = df['candidatevotes'].isnull()
df.loc[mask, 'candidatevotes'] = 0

In [10]:
df[mask]

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
1442,2000,Georgia,GA,Baker,13007.0,President,Ralph Nader,green,0.0,1519,20191203
1462,2000,Georgia,GA,Ben Hill,13017.0,President,Ralph Nader,green,0.0,4661,20191203
1466,2000,Georgia,GA,Berrien,13019.0,President,Ralph Nader,green,0.0,4410,20191203
1486,2000,Georgia,GA,Bryan,13029.0,President,Ralph Nader,green,0.0,7059,20191203
1502,2000,Georgia,GA,Calhoun,13037.0,President,Ralph Nader,green,0.0,1887,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50276,2008,Alaska,NaN,District 99,2099.0,President,John McCain,republican,0.0,0,20191203
50277,2008,Alaska,NaN,District 99,2099.0,President,Other,Other,0.0,0,20191203
50398,2012,Alaska,NaN,District 99,2099.0,President,Barack Obama,democrat,0.0,74045,20191203
50399,2012,Alaska,NaN,District 99,2099.0,President,Mitt Romney,republican,0.0,74045,20191203
50400,2012,Alaska,NaN,District 99,2099.0,President,Other,Other,0.0,74045,20191203

In [11]:
df.isnull().sum(axis = 0)

year               0
state              0
state_po          64
county             0
FIPS              48
office             0
candidate          0
party              0
candidatevotes     0
totalvotes         0
version            0
dtype: int64

In [22]:
mask = df['state_po'].isnull()
df.loc[mask,'state_po'] = 'Unknown'
df['FIPS'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
50519    False
50520    False
50521    False
50522    False
50523    False
Name: FIPS, Length: 50524, dtype: bool

In [28]:
mask = df["FIPS"].isnull()
sum(mask)
df.loc[mask, 'FIPS'] = -1
#df[mask]
#df['FIPS'] == .unique()

In [29]:
df['FIPS'] = df['FIPS'].astype("int")
df['candidatevotes'] = df['candidatevotes'].astype("int")
df['totalvotes'] = df['totalvotes'].astype("int")
print(f'DF has the following data types:\n{df.dtypes}, \n\nand the corresponding NULL values: {df.isnull().sum(axis = 0)}')

DF has the following data types:
year               int64
state             object
state_po          object
county            object
FIPS               int64
office            object
candidate         object
party             object
candidatevotes     int64
totalvotes         int64
version            int64
dtype: object,

and the corresponding NULL values: year              0
state             0
state_po          0
county            0
FIPS              0
office            0
candidate         0
party             0
candidatevotes    0
totalvotes        0
version           0
dtype: int64

In [30]:
mask = (df['party'] == 'Other') | (df['candidate'] == 'Other') | (df['party'] == 'green')
print(f'DF records BEFORE drop: {df.shape}')
df.drop(df[mask].index, inplace = True)
print(f'DF records AFTER drop: {df.shape}')

DF records BEFORE drop: (50524, 11)
DF records AFTER drop: (31578, 11)

In [31]:
counties = df.groupby(["state", "county", 'year'])
counties.size()

state    county   year
Alabama  Autauga  2000    2
                  2004    2
                  2008    2
                  2012    2
                  2016    2
                         ..
Wyoming  Weston   2000    2
                  2004    2
                  2008    2
                  2012    2
                  2016    2
Length: 15764, dtype: int64

In [32]:
counties.last()

                     state_po   FIPS     office       candidate       party  \
state   county  year
Alabama Autauga 2000       AL   1001  President  George W. Bush  republican
                2004       AL   1001  President  George W. Bush  republican
                2008       AL   1001  President     John McCain  republican
                2012       AL   1001  President     Mitt Romney  republican
                2016       AL   1001  President    Donald Trump  republican
...                       ...    ...        ...             ...         ...
Wyoming Weston  2000       WY  56045  President  George W. Bush  republican
                2004       WY  56045  President  George W. Bush  republican
                2008       WY  56045  President     John McCain  republican
                2012       WY  56045  President     Mitt Romney  republican
                2016       WY  56045  President    Donald Trump  republican

                      candidatevotes  totalvotes   version
state   county  year
Alabama Autauga 2000           11993       17208  20191203
                2004           15196       20081  20191203
                2008           17403       23641  20191203
                2012           17379       23932  20191203
                2016           18172       24973  20191203
...                              ...         ...       ...
Wyoming Weston  2000            2521        3060  20191203
                2004            2739        3392  20191203
                2008            2618        3414  20191203
                2012            2821        3359  20191203
                2016            3033        3526  20191203

[15764 rows x 8 columns]

In [33]:
sub_file = cf.get_filename('us_counties_pres', 'DataVerse')
OUTPUT_DATA_PATH = Path().absolute().parent / "data" / "processed" / sub_file
print(OUTPUT_DATA_PATH)

/home/jdreed/MSDS696/data/processed/DataVerse-us_counties_pres.p

In [34]:
adams = counties.get_group(('Colorado', 'Adams', 2000))
adams['PctVotes'] = adams['candidatevotes'] / adams['totalvotes'] * 100
adams

/home/jdreed/miniconda3/envs/msds696_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state_po,FIPS,office,candidate,party,candidatevotes,totalvotes,version,PctVotes
860,CO,8001,President,Al Gore,democrat,54132,107852,20191203,50.191002
861,CO,8001,President,George W. Bush,republican,47561,107852,20191203,44.098394